@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

html {
    position: relative;
    min-height: 100%;
    background: url(background.jpg) center center fixed;
    background-size: cover;
    overflow-y: scroll;
    overflow-x: auto;
}

body {
    background: rgba(41, 186, 214, 0.5);
    width: 1280px;
    min-height: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 25px;
}


@media only screen and (max-device-width: 480px) {
  body {
    min-height: 1600px;
    }
}


#main-nav {
  	height: 40px;
  	float: right;
}

#main-nav > Ul > li {
  	display: inline-block;
  	position: relative;
}

.main-nav-item {
  	display: inline-block;
  	padding: 10px 10px;
  	height: 30px;
  	line-height: 30px;
  	text-decoration:none;
  	color:#000;
}

.main-nav-item:hover {
	color: lightblue;
	text-decoration: overline;
 	text-decoration-style: dashed;
	text-decoration-color: rgba(0, 80, 0, 1);
  	transition:color 100ms ease-in;
}

.main-nav-item:hover ~ .nav-content {
  	max-height:400px;
  	-webkit-transition:max-height 400ms ease-in;
  	-moz-transition:max-height 400ms ease-in;
  	transition:max-height 400ms ease-in;
}

.nav-content:hover {
  	max-height:400px;
}

.nav-content {
  	position:absolute;
  	top:35px;
  	overflow: hidden;
  	max-height:0;
	border-radius: 15%;
}

.nav-content a {
  	text-decoration:none;
  	color: rgba(0, 0, 0, 1);
  	background: rgba(255, 255, 255, 0.5);
  	white-space: nowrap;
	/*border-radius: 0%;*/
}

.nav-content a:hover {
	border-radius: 15%;
  	transition:border-radius 200ms ease-in;
  	background: rgba(192, 192, 192, 1);
}

.nav-sub {
  	padding:0px;
}

.nav-sub ul {
  	padding:0;
  	margin:0;
  	list-style-type:none;
  	text-align: left;
}

.nav-sub ul li a {
  	display:inline-block;
  	padding:10px;
}

#header {
	font-family: Fredoka One, cursive;
	border-bottom: 2px dashed rgba(0, 100, 0, 0.3);
	border-width: 2px;
	clear: both;
	height: 100px;
	width: 40%;
	margin-left: 30%;
	padding-bottom: 20px;
}
#header img {
	float: left;
	margin-left: 10%;
	margin-top: 10px;
}
#title {
	float: left;
	padding-left: 10%;
}
#slogan {
	float: right;
	padding-right: 20%;
	font-family: serif;
	font-style: italic;
}

#content {
    margin-bottom:100px;
}

#visaSommar {
    float: left;
    margin-bottom: 50px;
    margin-left: 10%;
}

#visaVinter {
    float: right;
    margin-bottom: 50px;
    margin-right: 10%;
}

#visaSommar:focus ~ #sommarText,
#visaVinter:focus ~ #vinterText {
    display: block;
    -webkit-transition:display 400ms ease-in;
  	-moz-transition:display 400ms ease-in;
  	transition:display 400ms ease-in;
}

#sommarText > p,
#vinterText > p {
    float: right;
    width: 800px;
}

#sommarText,
#vinterText {
    display: none;
    width: 1200px;
    float: right;
    margin-right: 40px;
}

#visaSommar {
    float: left;
    margin-bottom: 50px;
    margin-left: 10%;
}

#figure1,
#figure2 {
    background: rgba(0, 100, 0, 0.3);
    margin-top: 1.5em;
    margin-right: 0;
    float: left;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0;
}

#footer {
    font-family: Fredoka One, cursive;
    clear: both;
    background: rgba(0, 100, 0, 0.7);
    position: absolute;
    text-align: center;
    height: 60px;
    width: 100%;
    left: 0;
    bottom: 0;
    }
